@using MudBlazor



<MudGrid Justify="Justify.Center">
	<MudItem xs="@xs" sm="@sm" md="@md" lg="@lg" xl="@xl" xxl="@xxl">
		<div class="d-flex justify-center ">
			<MudImage Fluid="true" Width="150" Height="150" ObjectFit="ObjectFit.ScaleDown"  Src="https://file.lavanguardia.com/ext1/img02/2015/08/05/54434766643.jpg"
					  Alt="SOAT" Elevation="0" Class="rounded-pill" />
		</div>
	</MudItem>
	<MudItem xs="@xs" sm="@sm" md="@md" lg="@lg" xl="@xl" xxl="@xxl">
		<div class="d-flex justify-center ">
			<MudImage Fluid="true" Width="150" Height="150" ObjectFit="ObjectFit.ScaleDown" Src="https://file.lavanguardia.com/ext1/img02/2015/08/05/54434766643.jpg"
					  Alt="SOAT" Elevation="0" Class="rounded-pill" />
		</div>
	</MudItem>
	<MudItem xs="@xs" sm="@sm" md="@md" lg="@lg" xl="@xl" xxl="@xxl">
		<div class="d-flex justify-center ">
			<MudImage Fluid="true" Width="150" Height="150" ObjectFit="ObjectFit.ScaleDown" Src="https://file.lavanguardia.com/ext1/img02/2015/08/05/54434766643.jpg"
					  Alt="SOAT" Elevation="0" Class="rounded-pill" />
		</div>
	</MudItem>
	<MudItem xs="@xs" sm="@sm" md="@md" lg="@lg" xl="@xl" xxl="@xxl">
		<div class="d-flex justify-center ">
			<MudImage Fluid="true" Width="150" Height="150" ObjectFit="ObjectFit.ScaleDown" Src="https://file.lavanguardia.com/ext1/img02/2015/08/05/54434766643.jpg"
					  Alt="SOAT" Elevation="0" Class="rounded-pill" />
		</div>
	</MudItem>
	<MudItem xs="@xs" sm="@sm" md="@md" lg="@lg" xl="@xl" xxl="@xxl">
		<div class="d-flex justify-center ">
			<MudImage Fluid="true" Width="150" Height="150" ObjectFit="ObjectFit.ScaleDown" Src="https://file.lavanguardia.com/ext1/img02/2015/08/05/54434766643.jpg"
					  Alt="SOAT" Elevation="0" Class="rounded-pill" />
		</div>
	</MudItem>
	<MudItem xs="@xs" sm="@sm" md="@md" lg="@lg" xl="@xl" xxl="@xxl">
		<div class="d-flex justify-center ">
			<MudImage Fluid="true" Width="150" Height="150" ObjectFit="ObjectFit.ScaleDown" Src="https://file.lavanguardia.com/ext1/img02/2015/08/05/54434766643.jpg"
					  Alt="SOAT" Elevation="0" Class="rounded-pill" />
		</div>
	</MudItem>
</MudGrid>
@code {


	private int xs = 12;
	private int sm = 6;
	private int md = 4;
	private int lg = 3;
	private int xl = 3;
	private int xxl = 3;

}

