@using MudBlazor;
@using SIMRIFA.Componentes.Rifas.Header
@using SIMRIFA.Data;

<style>
	.buton {
		color: orange;
	}
</style>


<MudGrid Justify="Justify.Center" Spacing="20">
	<MudItem xs="12">
		<MudPaper Class="d-flex flex-column flex-grow-1 gap-2" Elevation="5" >

			<button type="button" class="btn btn-primary btn-block rounded-lg" style="font-size:90%;">
				<MudIcon Class="buton" Icon="@Icons.Material.Filled.KeyboardDoubleArrowRight" /> COMPRAR EL CUPON POR 5 por valor de $ 20.0000
			</button>
			<button type="button" class="btn btn-primary btn-block rounded-lg" style="font-size:90%;">
				<MudIcon Class="buton" Icon="@Icons.Material.Filled.KeyboardDoubleArrowRight" />COMPRAR EL CUPON POR 5 por valor de $ 20.0000
			</button>
			<button type="button" class="btn btn-primary btn-block rounded-lg" style="font-size:90%;">
				<MudIcon Class="buton" Icon="@Icons.Material.Filled.KeyboardDoubleArrowRight" />COMPRAR EL CUPON POR 5 por valor de $ 20.0000
			</button>
			<button type="button" class="btn btn-primary btn-block rounded-lg" style="font-size:90%;">
				<MudIcon Class="buton" Icon="@Icons.Material.Filled.KeyboardDoubleArrowRight" />COMPRAR EL CUPON POR 5 por valor de $ 20.0000
			</button>
			<button type="button" class="btn btn-primary btn-block rounded-lg" style="font-size:90%;">
				<MudIcon Class="buton" Icon="@Icons.Material.Filled.KeyboardDoubleArrowRight" />COMPRAR EL CUPON POR 5 por valor de $ 20.0000
			</button>
			<button type="button" class="btn btn-primary btn-block rounded-lg" style="font-size:90%;">
				<MudIcon Class="buton" Icon="@Icons.Material.Filled.KeyboardDoubleArrowRight" />COMPRAR EL CUPON POR 5 por valor de $ 20.0000
			</button>
			<button type="button" class="btn btn-primary btn-block rounded-lg" style="font-size:90%;">
				<MudIcon Class="buton" Icon="@Icons.Material.Filled.KeyboardDoubleArrowRight" />COMPRAR EL CUPON POR 5 por valor de $ 20.0000
			</button>
		</MudPaper>
	</MudItem>
</MudGrid>
@code {



}
