@page "/Empresa/Sorteos/Rifas04"
@using MudBlazor
@using SIMRIFA.Componentes.Rifas.Adiccion
@using SIMRIFA.Componentes.Rifas.Footer;
@using SIMRIFA.Componentes.Rifas.Header;
@using SIMRIFA.Componentes.Rifas.Body;
@using SIMRIFA.Componentes.Rifas.Wompi;
@using SIMRIFA.Data;
@using System.ComponentModel.DataAnnotations;
@inject IJSRuntime JSRuntime;
@inject IDialogService Dialog;
@inject MenuState MenuState;

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nombre tu rifa</title>

	<!-- Asegúrate de incluir el CSS de Bootstrap aquí -->

	<style>
		.text-small {
			font-size: 0.9rem !important;
		}

		body {
			background: #FAFAFA;
			width: 100%;
		}

		.header {
			background-color: black;
			background-image: linear-gradient(to right, #98B2E8 0%, #00FFFF 100%);
			box-shadow: 0 2px 5px rgba(0,0,0,0.1);
		}

		.navbar {
			border-top: 8px solid #07768f;
			border-bottom: 8px solid #07768f;
		}

		.Inicio {
			color: transparent;
		}

		.Section-rifa{
			background: #EDEDED;
		}

		.section-3 {
			background: #EDEDED;
		}

		.section-4 {
			background: #EDEDED;
		}

		.card-verificador {
			max-width: 400px;
			margin: 20px auto;
			padding: 20px;
			background: #EDEDED;
		}

		.paneles .mud-expand-panel-header {
			background: #98B2E8 !important;
			border-radius: 5px;
		}

		.paneles .mud-expand-panel {
			margin-bottom: 5px;
		}

		.paneles .mud-collapse-wrapper {
			padding-bottom: 15px;
		}

		#TextoRifa {
			color: #07768f;
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			display: grid;
			justify-content: flex-start;
			align-items: center;
		}

		.Iconos {
			color: #98B2E8;
		}

		.footer {
			color: #07768f;
			background-color: aqua;
		}

		.text-reset {
			color: #07768f;
		}

		.card {
			box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
		}

		.card_pago {
			min-width: 0;
			word-wrap: break-word;
			background-color: #fff;
			background-clip: border-box;
			border: 0 solid rgba(0,0,0,.125);
			border-radius: 1rem;
		}

		.card-body {
			-webkit-box-flex: 1;
			-ms-flex: 1 1 auto;
			flex: 1 1 auto;
			padding: 1.5rem 1.5rem;
		}
	</style>
</head>

<body>
	<!-- ACA VA LA MARKA DE AGUA DE "PRUEBAS" quitar si se vende-->
	<div class="confidential-watermark" style="position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 9999;opacity: 0.05;pointer-events: none;">
		<p style="font-size: 3em;color: #383838;background: #fff;border-radius: 11px;padding: 9px;font-weight: bold;transform: rotate(-45deg);white-space: nowrap;">
			SITIO WEB DE PRUEBAS
		</p>
	</div>
	<!--ACA VA LA INFORMACION DE QUIEN HACE LA RIFA-->
	<section id="Inicio" class="py-1 header text-center navbar-expand-lg navbar-light bg-light">
		<div class="container py-1 text-white">
			<header class="py-1">
				<h1 class="display-4">Bienvenidos a la rifa</h1>
				<p class="font-italic mb-1">[Informacion de tu rifa]</p>
				<p class="font-italic mb-1">Puede subir imagen, texto o otro tipo de info</p>
				@*<img src="img/SOAT.png" width="150" height="150" />*@
			</header>
		</div>
	</section>

	<!-- MENU-->
	<header class="header sticky-top">
		@*<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">*@
		<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 fixed-top">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="container">
				@*<strong class="h6 mb-0 font-weight-bold text-uppercase">Sticky navbar</strong>*@
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="#">
								INICIO
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#ListaBoletas">Boletas</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#verificador">Verificador</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#preguntas">Preguntas</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#contacto">CONTACTO</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<!-- Imagen con la descripcion de la rifa-->
	<section class="py-5 Section-rifa mx-auto" style="width:80%">
		<MudGrid Justify="Justify.FlexEnd">
			<MudItem xs="12" sm="12" md="6" lg="6" xl="6" xxl="6" Class="d-flex justify-end">
				<img src="Img/Rifa04_imagen.png" class="img-fluid rounded " alt="Aqui va tu imagen promocional">
			</MudItem>
			<MudItem xs="12" sm="12" md="6" lg="6" xl="6" xxl="6" Class="justify-start	">
				<div id="TextoRifa">
					<div class="d-block pa-2"><h1><b>🗓️	30 DIC 2024  🕓 08:00 PM</b></h1></div>
					<div class="d-block pa-2"><h2><b>Demo Rifa de Prueba 1000</b></h2></div>
					<div class="d-block pa-2"><b>Aquí va su descripción, en este ejemplo son:</b></div>
					<div class="d-block pa-2">
						<h4><b>1000 Boletos</b></h4>
						<b>Puedes tener varios premios...</b> <br />
						🥇Primer Premio: Moto 🏍️<br />
						🥈Segundo Lugar: iPhone 📱<br />
						🥉Tercer Premio: Efectivo 💴<br />

						🔹 Descuentos Activados<br />
						🔹 Promoción 3x2 Activada<br />

						🗓️ <b>Fecha:</b> 30 de Diciembre<br />
						🎥 <b>Transmisión en vivo:</b> 🕓 8:00 pm<br />

						<b>¿Cómo funciona? 🍀</b><br />
						🔹 Se eligen los boletos 🎟<br />
						🔹 Se llenan los datos.<br />
						🔹 Se realiza el registro. <br />
					</div>
				</div>
			</MudItem>
		</MudGrid>
	</section>

	<br />
	<!-- Imagen de centro de la rifa -->
	<MudStack id="ListaBoletas" Justify="Justify.Center" Row="true" Class="container py-5 section-2" style="width:80%">
		<img height="200" src="Img/listaBoletas.png" class="img-fluid rounded " alt="Aqui va tu imagen promocional">
		<!--	<svg width="150" height="150"
					 fill="currentColor"
					 class="bi bi-ticket-perforated"
					 viewBox="0 0 16 16"
					 style="font-size: 1rem;color: cornflowerblue;transform: rotate(120deg);">
					<path d="M4 4.85v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9zm7 0v.9h1v-.9z" />
					<path d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3zM1 4.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v1.05a2.5 2.5 0 0 0 0 4.9v1.05a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-1.05a2.5 2.5 0 0 0 0-4.9z" />
				</svg>

				<h2><span style="font-size: 5rem; color: cornflowerblue;">LISTA DE BOLETAS</span></h2>
				<svg width="150" height="150"
					 fill="currentColor"
					 class="bi bi-ticket-perforated"
					 viewBox="0 0 16 16"
					 style="font-size: 1rem; color: cornflowerblue;transform: rotate(220deg);">
					<path d="M4 4.85v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9zm7 0v.9h1v-.9zm-7 1.8v.9h1v-.9zm7 0v.9h1v-.9z" />
					<path d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3zM1 4.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v1.05a2.5 2.5 0 0 0 0 4.9v1.05a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-1.05a2.5 2.5 0 0 0 0-4.9z" />
								</svg>-->
	</MudStack>
	<br />

	<!-- lista de boletas -->
	<div class="container section-3 py-5 text-center">

		<MudChipSet AllClosable="true">
			<MudChip Color="Color.Success" IconColor="Color.Success" Text="COMPRADO"></MudChip>
			<MudChip Color="Color.Default" IconColor="Color.Default" Text="LIBRE"></MudChip>
		</MudChipSet>
		<MudContainer>
			<div id="unique_id_scroll_section" class="ma-0" style="max-height:500px;overflow: auto;">
				<MudPaper>
					<MudStack Row="true" Justify="Justify.SpaceEvenly" Wrap="Wrap.Wrap">
						<MudChipSet @bind-SelectedChips="selected" MultiSelection="true" Filter="false">
							@foreach (var item in diccionario)
							{
								if (item.Value == true)
								{
									<MudChip Variant="Variant.Text" Color="Color.Success" Disabled>
									<p>@item.Key.ToString("D3")</p>
								</MudChip>
								}
								else
								{
									<MudChip Text="@item.Key.ToString("D3")" Variant="Variant.Text" Color="Color.Default" SelectedColor="Color.Primary">
										<p>@item.Key.ToString("D3")</p>
									</MudChip>
								}
							}
						</MudChipSet>
					</MudStack>
				</MudPaper>
			</div>
		</MudContainer>
		<br />
		<br />
		<div class="d-flex justify-center">

			@if (selected != null && selected.Length > 0)
			{
				CantidadBoletas = selected.Count();

				Total = CantidadBoletas * ValorBoleta;

				DeshabilitarBotonCompra = false;

				<MudChipSet AllClosable="true" OnClose="Closed">
					@foreach (var value in selected)
					{
						<MudChip Color="Color.Success" IconColor="Color.Success" Text="@value.Text"></MudChip>
					}
				</MudChipSet>
			}
			else
			{
				CantidadBoletas = 0;

				Total = CantidadBoletas * ValorBoleta;

				DeshabilitarBotonCompra = true;

				<br />
				<MudText>No ha seleccionado ninguno</MudText>
			}
		</div>
	</div>
	<br />

	<!-- boton de comprar-->
	<section class="container section-4 py-5">

		<EditForm Model="@model" OnValidSubmit="ComprarNumeros">
			<DataAnnotationsValidator />
			<MudGrid Justify="Justify.SpaceAround">
				<MudItem xs="12" sm="12" md="8" lg="8" xl="8" xxl="8" Class="justify-start">
					<MudCard>
						<MudCardContent>
							<MudTextField Label="Nombre" HelperText="Max. 8 characters"
										  Immediate="true"
										  @bind-Value="model.Nombre" For="@(() => model.Nombre)" />
							<MudTextField Label="Correo" Class="mt-3" Immediate="true"
										  @bind-Value="model.Email" For="@(() => model.Email)" />

							<MudTextField Label="Celular" Class="mt-3" Immediate="true"
										  @bind-Value="model.Celular" For="@(() => model.Celular)" />

							<MudTextField Label="Direccion" Class="mt-3" Immediate="true"
										  @bind-Value="model.Direccion" For="@(() => model.Direccion)" />
						</MudCardContent>
						<MudCardActions>
							<MudButton Size="Size.Large" Style="width:100" ButtonType="ButtonType.Submit" Disabled="@DeshabilitarBotonCompra" Variant="Variant.Filled" FullWidth="true" Color="Color.Primary" StartIcon="@Icons.Material.Filled.AddShoppingCart" DisableElevation="true">COMPRAR</MudButton>
						</MudCardActions>
					</MudCard>
				</MudItem>
				<MudItem xs="12" sm="12" md="4" lg="4" xl="4" xxl="4" Class="d-flex justify-end">
					<div class="card_pago" style="width: 100%">
						<div class="p-3 bg-opacity-10">
							<h6 class="card-title mb-3">PAGO</h6>
							<div class="d-flex justify-content-between mb-1 small">
								<span>Cantidad</span> <span>@CantidadBoletas</span>
							</div>
							<div class="d-flex justify-content-between mb-1 small">
								<span>Valor</span> <span>$ @ValorBoleta</span>
							</div>
							<hr>
							<div class="d-flex justify-content-between mb-4 small">
								<span>TOTAL</span> <strong class="text-dark">$ @Total</strong>
							</div>
						</div>
					</div>
				</MudItem>
			</MudGrid>
		</EditForm>
	</section>
	<br />

	<!--Section de verificador de numeros-->
	<section id="verificador" class="py-5 section-5 mx-auto" style="width:100%">
		<div class="card card-verificador">
			<div class="card-body text-center">
				<h5 class="card-title text-center">VERIFICADOR DE BOLETOS</h5>
				<MudTextField @bind-Value="BuscarBoleta" Label="Ingresa telefono o correo" HelperText="con el que hizo el pago" Variant="Variant.Filled" />
				<br />
				<MudButton OnClick="BuscarNumero" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Search" Color="Color.Primary" DisableElevation="true">BUSCAR</MudButton>
			</div>
		</div>
	</section>

	<br />
	<!--Section de preguntas-->
	<section id="preguntas" class="py-5 section-6 mx-auto" style="width:60%">
		<MudExpansionPanels Square=true MultiExpansion="true" DisableBorders="true" Elevation="0" Class="paneles">
			<MudExpansionPanel Text="¿Detalles de la Rifa?">
				<span>
					<b>Premio Principal:</b> [Descripción del premio principal] <br />
					<b>Modalidad de Ganancia:</b> El número ganador se determinará mediante los últimos cuatro dígitos del sorteo de la [Lotería Nacional, otro evento de sorteo, etc.]. <br />
					<b>Fecha del Sorteo:</b>Fecha del Sorteo: [Fecha y hora del sorteo]<br />
					<b>Costo de la Boleta</b><br />
					<b>Precio de la Boleta:</b> [Especificar el precio, por ejemplo: $10.00]<br />
				</span>
			</MudExpansionPanel>
			<MudExpansionPanel Text="¿Costo de la Boleta?">
				<span>
					<b>Cantidad de Boletas Disponibles:</b> [Número de boletas disponibles, opcional]<br />
					<b>Descuentos por Compra en Volumen:</b> [Si aplicable, por ejemplo: 5 boletas por $45.00]<br />

				</span>
			</MudExpansionPanel>
			<MudExpansionPanel Text="¿Cómo Adquirir Tu Boleta?">
				<span>
					<b>Puntos de Venta:</b>	 [Dirección de los puntos de venta físicos, si aplica]<br />
					<b>Compra en Línea:</b> [Enlace al sitio web o plataforma de pago en línea]<br />
					<b>Contacto para Más Información:</b>	 [Número de teléfono, correo electrónico]<br />
				</span>
			</MudExpansionPanel>
			<MudExpansionPanel Text="¿Términos y Condiciones?">
				<span>
					<b>Elegibilidad: </b>	[Cualquier restricción de edad o ubicación]<br />
					<b>Fecha Límite para Comprar Boletas:</b>	 [Fecha límite para la venta de boletas]<br />
					<b>Entrega del Premio:</b>	 [Cómo y cuándo se entregará el premio al ganador]<br />
				</span>
			</MudExpansionPanel>
			<MudExpansionPanel Text="¿Ejemplo de Costo?">
				<span>
					Si decides participar, puedes adquirir tu boleta por solo $10.00. ¡No te pierdas la oportunidad de ganar y ayudar a [causa o motivo de la rifa, si aplica]!<br />
				</span>
			</MudExpansionPanel>
		</MudExpansionPanels>
	</section>

	<!--PIE DE PAGINA-->
	<footer id="contacto" class="footer bg-light">
		<!-- Section: Social media -->
		<section class="d-flex justify-content-center justify-content-lg-between p-1 border-bottom">
			<!-- Left -->
			<div class="me-5 d-none d-lg-block">
				<span>Conéctate con nosotros en las redes sociales:</span>
			</div>
			<div>
				<a href="" class="me-4 text-reset">
					<MudIcon Class="Iconos" Icon="@Icons.Custom.Brands.Facebook" Title="Facebook" />
				</a>
				<a href="" class="me-4 text-reset">
					<MudIcon Class="Iconos" Icon="@Icons.Custom.Brands.Twitter" Title="Twitter" />
				</a>
				<a href="" class="me-4 text-reset">
					<MudIcon Class="Iconos" Icon="@Icons.Custom.Brands.Google" Title="Google" />
				</a>
				<a href="" class="me-4 text-reset">
					<MudIcon Class="Iconos" Icon="@Icons.Custom.Brands.Google" Title="Intagram" />
				</a>
				<a href="" class="me-4 text-reset">
					<MudIcon Class="Iconos" Icon="@Icons.Custom.Brands.LinkedIn" Title="LinkedIn" />
				</a>
				<a href="" class="me-4 text-reset">
					<MudIcon Class="Iconos" Icon="@Icons.Custom.Brands.GitHub" Title="GitHub" />
				</a>
			</div>
			<!-- Right -->
		</section>
		<!-- Section: Links  -->
		<section>
			<div class="container text-center text-md-start mt-5">
				<!-- Grid row -->
				<div class="row mt-3">
					<!-- Grid column -->
					<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
						<!-- Content -->
						<h6 class="text-uppercase fw-bold mb-4">
							<i class="fas fa-gem me-3"></i>CLIENTE DEMO
						</h6>
						<p>
							Información breve acerca de su Marca, Organización, Persona o Empresa.
						</p>
					</div>
					<!-- Grid column -->
					<!-- Grid column -->
					<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">
							SECCIONES
						</h6>
						<p>
							<a href="#Inicio" class="text-reset nav-link">INICIO</a>
						</p>
						<p>
							<a href="#ListaBoletas" class="text-reset nav-link">Lista boletas</a>
						</p>
						<p>
							<a href="#verificador" class="text-reset nav-link">Verificar boletas</a>
						</p>
						<p>
							<a href="#preguntas" class="text-reset nav-link">Preguntas frecuentes</a>
						</p>
					</div>
					<!-- Grid column -->
					<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">Contactanos</h6>
						<p> <MudIcon Icon="@Icons.Material.Filled.House" Title="Ubicacion" /> Rionegro - Antioquia</p>
						<p> <MudIcon Icon="@Icons.Material.Filled.Email" Title="Ubicacion" /> techminds247@gmail.com</p>
						<p> <MudIcon Icon="@Icons.Material.Filled.PhoneIphone" Title="Telefono" /> + 57 311 363 33 71</p>
						<p> <MudIcon Icon="@Icons.Material.Filled.PhoneIphone" Title="Telefono" /> + 57 305 301 65 52</p>
					</div>
					<!-- Grid column -->
				</div>
				<!-- Grid row -->
			</div>
		</section>
		<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
			© 2024 Copyright:
			<a class="text-reset fw-bold" href="#!">vehitrams.com</a>
		</div>
	</footer>
</body>
</html>

@code {

	private int CantidadBoletas { get; set; }
	private int ValorBoleta { get; set; }
	private string BuscarBoleta { get; set; }
	private int Total { get; set; }
	private MudChip[] selected;
	private bool DeshabilitarBotonCompra { get; set; } = true;

	private Dictionary<int, bool> ObtenerNumeros()
	{

		Random rand = new Random();

		for (int i = 0; i < 1000; i++) // Ajusta esto al tamaño de tu lista
		{
			diccionario.Add(i, rand.Next(2) == 0); // Genera un bool y un entero aleatorios
		}

		return diccionario;
	}


	protected override void OnInitialized()
	{
		ObtenerNumeros();
		ValorBoleta = 5000;

		MenuState.SetMenuVisibility(false);
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JSRuntime.InvokeVoidAsync("initializeSmoothScroll");
		}
	}


	Dictionary<int, bool> diccionario = new Dictionary<int, bool>();


	public void Closed(MudChip chipt)
	{
		selected = selected.Where(chip => chip.Text != chipt.Text).ToArray();

		CantidadBoletas = selected.Count();
		Total = CantidadBoletas * ValorBoleta;
	}

	RegisterAccountForm model = new RegisterAccountForm();

	private void ComprarNumeros(EditContext context)
	{
		StateHasChanged();
	}

	private async Task BuscarNumero()
	{
		var sdsd = BuscarBoleta;
	}

	public class RegisterAccountForm
	{
		[Required(ErrorMessage = "Campo requerido")]
		[MinLength(5, ErrorMessage = "Nombre incompleto")]
		public string Nombre { get; set; }

		[Required(ErrorMessage = "Campo requerido")]
		[EmailAddress(ErrorMessage = "Correo invalido")]
		public string Email { get; set; }

		[Required(ErrorMessage = "Campo requerido")]
		[MinLength(10, ErrorMessage = "Telefono invalido")]
		public string Celular { get; set; }

		[Required(ErrorMessage = "Campo requerido")]
		[MinLength(8, ErrorMessage = "Direccion invalida")]
		public string Direccion { get; set; }


	}
}


