@page "/Rifas01"
@using MudBlazor
@using SIMRIFA.Web.Componentes;
@inject IJSRuntime JSRuntime;


<!DOCTYPE html>
<html>

<head>
	<link href="css/Style.css" rel="stylesheet" />
</head>

<body>
	<MudLayout>
		<MudAppBar Elevation="1" Dense="true">
			<MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
			<MudSpacer />
			<MudImage ObjectFit="ObjectFit.Fill" Height="40" Width="100" Src="/img/LOGO.png" Alt="SOAT" Elevation="25" Class="rounded-lg" />
		</MudAppBar>
		<MudDrawer @bind-Open="@open" Elevation="1" Variant="@DrawerVariant.Temporary">
			<MudDrawerHeader>
				<MudText Typo="Typo.h6">SIM</MudText>
			</MudDrawerHeader>
			<MudNavMenu>
				<MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.SupportAgent">Soporte</MudNavLink>
				<MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Group">Ganadores</MudNavLink>
				<MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Custom.Brands.Instagram">Instagram</MudNavLink>
				<MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Custom.Brands.Facebook">Facebook</MudNavLink>
				<MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Custom.Brands.LinkedIn">Linked</MudNavLink>
				<MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Custom.Brands.LinkedIn">OPCION RIFA 2</MudNavLink>
			</MudNavMenu>
		</MudDrawer>
		<MudMainContent>
			<MudGrid Justify="Justify.Center">
				<MudItem xs="12">
					<h1>GRAN RIFA</h1>
				</MudItem>
				<MudItem xs="12" sm="6">
					<Encabezado></Encabezado>
				</MudItem>
				<MudItem xs="12" sm="6">
					<MudPaper Class="d-flex flex-column flex-grow-1 gap-2" Elevation="0">
						<MudPaper Width="100%" Height="40px"> COMPRAR EL CUPON POR 5 por valor de $ 20.0000 </MudPaper>
						<MudPaper Width="100%" Height="40px"> COMPRAR EL CUPON POR 5 por valor de $ 20.0000 </MudPaper>
						<MudPaper Width="100%" Height="40px"> COMPRAR EL CUPON POR 5 por valor de $ 20.0000 </MudPaper>
						<MudPaper Width="100%" Height="40px"> COMPRAR EL CUPON POR 5 por valor de $ 20.0000 </MudPaper>
						<MudPaper Width="100%" Height="40px"> COMPRAR EL CUPON POR 5 por valor de $ 20.0000 </MudPaper>
						<MudPaper Width="100%" Height="40px"> COMPRAR EL CUPON POR 5 por valor de $ 20.0000 </MudPaper>
						<MudPaper Width="100%" Height="40px"> COMPRAR EL CUPON POR 5 por valor de $ 20.0000 </MudPaper>
						<MudPaper Width="100%" Height="40px"> COMPRAR EL CUPON POR 5 por valor de $ 20.0000 </MudPaper>
						<MudPaper Width="100%" Height="40px"> COMPRAR EL CUPON POR 5 por valor de $ 20.0000 </MudPaper>
					</MudPaper>
				</MudItem>
				<MudItem xs="6" sm="3">
					<MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=6 sm=3</MudPaper>
				</MudItem>
				<MudItem xs="6" sm="3">
					<MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=6 sm=3</MudPaper>
				</MudItem>
				<MudItem xs="6" sm="3">
					<MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=6 sm=3</MudPaper>
				</MudItem>
				<MudItem xs="6" sm="3">
					<MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=6 sm=3</MudPaper>
				</MudItem>
			</MudGrid>


		</MudMainContent>
	</MudLayout>
	<MudDivider DividerType="DividerType.FullWidth" Class="my-12" />
	<footer style="background-color:white">
		<div Class="d-flex justify-space-around flex-wrap mt-4">
			<MudImage ObjectFit="ObjectFit.Contain" Width="130" Height="130" Src="/img/nike.png" Alt="Örebro Slott" Elevation="25" Class="rounded-lg ma-4" />
			<MudImage ObjectFit="ObjectFit.Contain" Width="130" Height="130" Src="/img/nike.png" Alt="Örebro Slott" Elevation="25" Class="rounded-lg ma-4" />
			<MudImage ObjectFit="ObjectFit.Contain" Width="130" Height="130" Src="/img/nike.png" Alt="Örebro Slott" Elevation="25" Class="rounded-lg ma-4" />
			<MudImage ObjectFit="ObjectFit.Contain" Width="130" Height="130" Src="/img/nike.png" Alt="Örebro Slott" Elevation="25" Class="rounded-lg ma-4" />
		</div>

		<div Class="d-flex justify-space-around flex-wrap mt-1">
			<MudText>Copyright © 2024</MudText>

		</div>
	</footer>
</body>

</html>


@code {

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JSRuntime.InvokeVoidAsync("disableContextMenu");
		}
	}

	bool open = false;

	void ToggleDrawer()
	{
		open = !open;
	}

}
