@using MudBlazor;


<style>

	.navbar-brand > .navbar-brand-logo > #clientLogo {
		margin-top: 50px;
		width: 110px;
		height: 110px;
	}

</style>

<MudLayout>
	<MudAppBar Elevation="1" Dense="@dense" Color="Color.Dark">
		<MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
		<MudSpacer />

		<div class="navbar-brand">
			<a class="navbar-brand-logo" href="#">
				<img id="clientLogo" src="/Img/Empresa/tuLogoAqui.png" alt="Logo">
			</a>
		</div>
	</MudAppBar>
	<MudDrawer @bind-Open="@open" Color="Color.Dark" ClipMode="DrawerClipMode.Docked" Breakpoint="Breakpoint.Xl" Elevation="1" Variant="@DrawerVariant.Temporary">
		@*<MudDrawer @bind-Open="@open" Color="Color.Dark" Elevation="1" Variant="@DrawerVariant.Temporary">*@
		
		<MudDrawerHeader>
			<MudText Typo="Typo.h1">
				<MudImage Fluid="true" Src="/Img/Empresa/tuLogoAqui.png" Alt="Mony the dog" Elevation="0" Class="rounded-lg" />
			</MudText>
		</MudDrawerHeader>
		<MudNavMenu>
			<MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Custom.Brands.Facebook" Title="Facebook">Facebook</MudNavLink>
			<MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Custom.Brands.Twitter" Title="Twitter">Twitter</MudNavLink>
			<MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Custom.Brands.Google" Title="Google">Google</MudNavLink>
			<MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Custom.Brands.Instagram" Title="Intagram">Intagram</MudNavLink>
			<MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Rounded.Dock" Title="Terminos y condiciones">Terminos y condiciones</MudNavLink>
			<MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Rounded.SupportAgent" Title="Soporte">SOPORTE</MudNavLink>
			<figcaption class="blockquote-footer">
				Gracias por  <cite title="Source Title">Confiar en nosotros</cite>
			</figcaption>
		</MudNavMenu>
	</MudDrawer>
</MudLayout>
@code {


	bool open = false;
	bool dense = false;

	void ToggleDrawer()
	{
		open = !open;
	}
}
