@using MudBlazor


<MudGrid Justify="Justify.Center">
	<MudItem xs="@txs" sm="@tsm" md="@tmd" lg="@tlg" xl="@txl" xxl="@txxl">
		<div class="d-flex justify-center ">
			<MudImage Fluid="true" Width="150" Height="150" ObjectFit="ObjectFit.ScaleDown"  Src="https://file.lavanguardia.com/ext1/img02/2015/08/05/54434766643.jpg"
					  Alt="SOAT" Elevation="0" Class="border border-danger border-5 rounded-pill" />
		</div>
	</MudItem>
	<MudItem xs="@txs" sm="@tsm" md="@tmd" lg="@tlg" xl="@txl" xxl="@txxl">
		<div class="d-flex justify-center ">
			<MudImage Fluid="true" Width="150" Height="150" ObjectFit="ObjectFit.ScaleDown" Src="https://file.lavanguardia.com/ext1/img02/2015/08/05/54434766643.jpg"
					  Alt="SOAT" Elevation="0" Class="border border-danger border-5 rounded-pill" />
		</div>
	</MudItem>
	<MudItem xs="@txs" sm="@tsm" md="@tmd" lg="@tlg" xl="@txl" xxl="@txxl">
		<div class="d-flex justify-center ">
			<MudImage Fluid="true" Width="150" Height="150" ObjectFit="ObjectFit.ScaleDown" Src="https://file.lavanguardia.com/ext1/img02/2015/08/05/54434766643.jpg"
					  Alt="SOAT" Elevation="0" Class="border border-danger border-5 rounded-pill" />
		</div>
	</MudItem>
	<MudItem xs="@txs" sm="@tsm" md="@tmd" lg="@tlg" xl="@txl" xxl="@txxl">
		<div class="d-flex justify-center ">
			<MudImage Fluid="true" Width="150" Height="150" ObjectFit="ObjectFit.ScaleDown" Src="https://file.lavanguardia.com/ext1/img02/2015/08/05/54434766643.jpg"
					  Alt="SOAT" Elevation="0" Class="border border-danger border-5 rounded-pill" />
		</div>
	</MudItem>
	<MudItem xs="@txs" sm="@tsm" md="@tmd" lg="@tlg" xl="@txl" xxl="@txxl">
		<div class="d-flex justify-center ">
			<MudImage Fluid="true" Width="150" Height="150" ObjectFit="ObjectFit.ScaleDown" Src="https://file.lavanguardia.com/ext1/img02/2015/08/05/54434766643.jpg"
					  Alt="SOAT" Elevation="0" Class="border border-danger border-5 rounded-pill" />
		</div>
	</MudItem>
	<MudItem xs="@txs" sm="@tsm" md="@tmd" lg="@tlg" xl="@txl" xxl="@txxl">
		<div class="d-flex justify-center ">
			<MudImage Fluid="true" Width="150" Height="150" ObjectFit="ObjectFit.ScaleDown" Src="https://file.lavanguardia.com/ext1/img02/2015/08/05/54434766643.jpg"
					  Alt="SOAT" Elevation="0" Class="border border-danger border-5 rounded-pill" />
		</div>
	</MudItem>
</MudGrid>
@code {

	private int txs = 12;
	private int tsm = 6;
	private int tmd = 4;
	private int tlg = 3;
	private int txl = 3;
	private int txxl = 3;

}

