@using MudBlazor;

<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted" style="background: #72B3FC;color:white">
    <section class="d-flex justify-content-center justify-content-lg-between p-4">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block" style="color:white">
            <span>Conéctate con nosotros en las redes sociales:</span>
        </div>
        <!-- Left -->
        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <MudIcon Icon="@Icons.Custom.Brands.Facebook" Title="Facebook" Color="Color.Surface" Size="Size.Large" />
            </a>
          @*  <a href="" class="me-4 text-reset">
                <MudIcon Icon="@Icons.Custom.Brands.Twitter" Title="Twitter" Color="Color.Success" />
            </a>*@
            <a href="" class="me-4 text-reset">
                <MudIcon Icon="@Icons.Custom.Brands.WhatsApp" Title="Whatsapp" Color="Color.Surface" Size="Size.Large" />
            </a>
           @* <a href="" class="me-4 text-reset">
                <MudIcon Icon="@Icons.Custom.Brands.Google" Title="Google" Color="Color.Success" />
            </a>*@
            <a href="" class="me-4 text-reset">
                <MudIcon Icon="@Icons.Custom.Brands.Instagram" Title="Instagram" Color="Color.Surface" Size="Size.Large" />
            </a>
           @* <a href="" class="me-4 text-reset">
                <MudIcon Icon="@Icons.Custom.Brands.GitHub" Title="GitHub" Color="Color.Success" />
            </a>*@
        </div>
        <!-- Right -->
    </section>
    <div class="text-center p-4" style="background-color: #385B83; color: white;">
        © 2024 Copyright:
        <a class="text-reset fw-bold" href="https://OsdagupO.com/" target="_blank" style="color:white">OsdagupO</a>
    </div>
</footer>

@code {

}
